@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

$black: #373737;
$gray: #F1F1F1;
$blue-dark: #021B79;
$blue-light: #0085A2;
$white: #fcf9f9;
$orange: #ff960f;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

button{
  cursor: pointer;
}

.bg-white{
  background-color: $white !important;
}

a{
  text-decoration: none;
}

body{
  overflow-x: hidden;
}

.beranda {
  width: 100%;
  height: 100vh;
  background: $blue-dark;
  background: linear-gradient(90deg, $blue-dark 0%, $blue-light 100%);
  position: relative;
  color: $white;
  padding: 1em 1.5em;
  .header{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .brand{
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
      font-size: 2em;
      cursor: pointer;
      color: $orange;
      &:hover{
        color: $white;
        transition: ease-in-out .3s;
      }
      &:active{
        color: $white;
        transform: translateY(.3em);
      }
    }
    .nav-list{
      display: flex;
      gap: 2em;
      .nav-link{
        cursor: pointer;
        font-weight: 500;
        color: $white;
        &:hover{
          color: $orange;
          transition: ease-in-out .3s;
        }
        &:active{
          color: $orange;
          transform: translateY(.3em);
        }
      }
    }
    .btn-bordered{
      padding: .7em 1.2em;
      background-color: transparent;
      border: .2em solid $white;
      border-radius: 2em;
      color: $white;
      font-weight: 500;
      font-size: 1em;
      &:hover{
        border: .2em solid $orange;
        color: $orange;
        transition: ease-in-out .3s;
      }
      &:active{
        border: .2em solid $orange;
        color: $orange;
        box-shadow: 0px 0px 7px 0px $white;
        transform: translateY(.3em);
      }
    }
  }
  .hero {
    width: 100%;
    height: 100%;
    .carousel-wrap{
      padding: 1.3em 0;
      .splide__track{
        border-radius: 1em;
      }
      .splide__slide {
        margin: 0 1em;
        img {
          width : 100%;
          height: auto;
        }
      }
    }
  }
}

.tentang{
  width: 100%;
  position: relative;
  .tentang-desc{
    padding: 2em 1.5em;
    display: flex;
    justify-content: center;
    gap: 1em;
    .img{
      width: 40%;
      .splide__track{
        border-radius: 1em;
      }
    }
    .desc{
      width: 100%;
      height: auto;
      h4{
        margin: .3em 0 .1em 0;
        color: $blue-light;
        font-weight: 600;
      }
      h3{
        margin-bottom: .5rem;
        color: $blue-dark;
        font-weight: 700;
      }
      p{
        color: $black;
        text-align: justify;
        font-size: .93em;
      }
    }
  }
  .unggulan{
    position: relative;
    background-color: $blue-dark;
    color: $white;
    padding: 2em 1.5em;
    .unggulan-title{
      text-align: center;
      h3{
        font-weight: 600;
        color: $orange;
        margin-bottom: .3em;
      }
      p{
        font-size: .93em;
      }
    }
    .unggulan-desc{
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
      gap: 1em;
      .unggulan-item{
        flex: 1 1 0px;
        h4{
          color: $orange;
          font-weight: 600;
          margin-bottom: .3em;
        }
        p{
          font-size: .93em;
        }
        .img{
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 1.5em;
          margin-top: 1.5em;
          img{
            width: 20%;
            height: auto;
            max-width: 4.6em;
            max-height: 4.6em;
          }
        }
      }
    }
  }
}

.harga{
  position: relative;
  padding: 2em 1.5em;
  background-color: $gray;
  .harga-title{
    text-align: center;
    margin-bottom: 2em;
    h3{
      font-weight: 600;
      color: $black;
      margin-bottom: .3em;
    }
    p{
      color: $black;
      font-size: .93em;
    }
  }
  .paket-list{
    display: flex;
    justify-content: center;
    gap: 1em;
    .paket{
      flex: 1 1 0px;
      background-color: $white;
      border-radius: 1em;
      position: relative;
      box-shadow: 0px 0px 5px 0px $black;
      .paket-title{
        padding: .7em 0em;
        text-align: center;
        background-color: $blue-dark;
        color: $white;
        border-radius: 1em 1em 0 0;
      }
      .paket-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5em;
        .paket-global{
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          .paket-harga{
            position: relative;
            display: flex;
            gap: .3em;
            align-items: center;
            h3{
              color: $blue-dark;
              font-size: 2em;
            }
          }
          p{
            color: $black;
            font-size: .8em;
          }
        }
        .upto{
          margin: 1em;
          position: relative;
          width: 7em;
          height: 7em;
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: .3em solid $blue-dark;
          p{
            color: $black;
          }
          h4{
            color: $blue-dark;
            font-size: 2em;
          }
          h6{
            color: $black;
            font-weight: 600;
            font-size: .8em;
          }
        }
        .divider{
          margin: 1em 0;
          width: 90%;
          border-top: .15em solid $blue-dark;
        }
        .desc{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: .8em;
          li{
            color: $blue-dark;
            font-weight: 600;
          }
        }
        .paket-pilih{
          width: 100%;
          display: flex;
          justify-content: center;
          button{
            margin-top: 1.5em;
            border: .2em solid $orange;
            background-color: $orange;
            padding: .7em 3em;
            border-radius: 2em;
            color: $white;
            font-weight: 500;
            font-size: 1em;
            &:hover{
              background-color: transparent;
              border: .2em solid $orange;
              color: $orange;
              transition: ease-in-out .3s;
            }
            &:active{
              box-shadow: 0px 0px 7px 0px $white;
              transform: translateY(.3em);
            }
          }
        }
      }
    }
  }
}

.hubungi{
  padding: 2em 1.5em;
  background-color: $blue-dark;
  color: $white;
  text-align: center;
  h1{
    font-weight: bold;
    font-size: 1.7em;
  }
  h3{
    margin: .3em 0 .7em 0;
    font-weight: 500;
    font-size: 1em;
  }
  h5{
    font-weight: 500;
    font-size: 1.2em;
  }
  .btn-bordered{
    padding: .5em 1.5em;
    background-color: transparent;
    border: .2em solid $white;
    border-radius: 2em;
    color: $white;
    font-weight: 700;
    font-size: 2em;
    margin-top: .5em;
    &:hover{
      border: .2em solid $orange;
      color: $orange;
      transition: ease-in-out .3s;
    }
    &:active{
      border: .2em solid $orange;
      color: $orange;
      box-shadow: 0px 0px 7px 0px $white;
      transform: translateY(.3em);
    }
  }
}

footer{
  .legal-wrap{
    padding: 1em 1.5em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    .legal-disclaimer{
      text-align: center;
      flex-grow: 1;
      button{
        margin: .7em 0;
        border: .2em solid $orange;
        background-color: $orange;
        padding: .7em 2em;
        border-radius: 2em;
        color: $white;
        font-weight: 500;
        font-size: 1.2em;
        &:hover{
          background-color: transparent;
          border: .2em solid $orange;
          color: $orange;
          transition: ease-in-out .3s;
        }
        &:active{
          box-shadow: 0px 0px 7px 0px $white;
          transform: translateY(.3em);
        }
      }
    }
    img{
      width: 50%;
      height: 50%;
    }
  }
  p{
    padding: 0 1.5em;
    font-size: .95em;
    color: $black;
  }
  .footer{
    text-align: center;
    background-color: $gray;
    padding: 1em 0 1em 0;
    margin-top: 1.5em;
    color: $black;
    font-size: .8em;
  }
}
