@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.bg-white {
  background-color: #fcf9f9 !important;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.beranda {
  width: 100%;
  height: 100vh;
  background: #021B79;
  background: linear-gradient(90deg, #021B79 0%, #0085A2 100%);
  position: relative;
  color: #fcf9f9;
  padding: 1em 1.5em;
}
.beranda .header {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.beranda .header .brand {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  color: #ff960f;
}
.beranda .header .brand:hover {
  color: #fcf9f9;
  transition: ease-in-out 0.3s;
}
.beranda .header .brand:active {
  color: #fcf9f9;
  transform: translateY(0.3em);
}
.beranda .header .nav-list {
  display: flex;
  gap: 2em;
}
.beranda .header .nav-list .nav-link {
  cursor: pointer;
  font-weight: 500;
  color: #fcf9f9;
}
.beranda .header .nav-list .nav-link:hover {
  color: #ff960f;
  transition: ease-in-out 0.3s;
}
.beranda .header .nav-list .nav-link:active {
  color: #ff960f;
  transform: translateY(0.3em);
}
.beranda .header .btn-bordered {
  padding: 0.7em 1.2em;
  background-color: transparent;
  border: 0.2em solid #fcf9f9;
  border-radius: 2em;
  color: #fcf9f9;
  font-weight: 500;
  font-size: 1em;
}
.beranda .header .btn-bordered:hover {
  border: 0.2em solid #ff960f;
  color: #ff960f;
  transition: ease-in-out 0.3s;
}
.beranda .header .btn-bordered:active {
  border: 0.2em solid #ff960f;
  color: #ff960f;
  box-shadow: 0px 0px 7px 0px #fcf9f9;
  transform: translateY(0.3em);
}
.beranda .hero {
  width: 100%;
  height: 100%;
}
.beranda .hero .carousel-wrap {
  padding: 1.3em 0;
}
.beranda .hero .carousel-wrap .splide__track {
  border-radius: 1em;
}
.beranda .hero .carousel-wrap .splide__slide {
  margin: 0 1em;
}
.beranda .hero .carousel-wrap .splide__slide img {
  width: 100%;
  height: auto;
}

.tentang {
  width: 100%;
  position: relative;
}
.tentang .tentang-desc {
  padding: 2em 1.5em;
  display: flex;
  justify-content: center;
  gap: 1em;
}
.tentang .tentang-desc .img {
  width: 40%;
}
.tentang .tentang-desc .img .splide__track {
  border-radius: 1em;
}
.tentang .tentang-desc .desc {
  width: 100%;
  height: auto;
}
.tentang .tentang-desc .desc h4 {
  margin: 0.3em 0 0.1em 0;
  color: #0085A2;
  font-weight: 600;
}
.tentang .tentang-desc .desc h3 {
  margin-bottom: 0.5rem;
  color: #021B79;
  font-weight: 700;
}
.tentang .tentang-desc .desc p {
  color: #373737;
  text-align: justify;
  font-size: 0.93em;
}
.tentang .unggulan {
  position: relative;
  background-color: #021B79;
  color: #fcf9f9;
  padding: 2em 1.5em;
}
.tentang .unggulan .unggulan-title {
  text-align: center;
}
.tentang .unggulan .unggulan-title h3 {
  font-weight: 600;
  color: #ff960f;
  margin-bottom: 0.3em;
}
.tentang .unggulan .unggulan-title p {
  font-size: 0.93em;
}
.tentang .unggulan .unggulan-desc {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.tentang .unggulan .unggulan-desc .unggulan-item {
  flex: 1 1 0px;
}
.tentang .unggulan .unggulan-desc .unggulan-item h4 {
  color: #ff960f;
  font-weight: 600;
  margin-bottom: 0.3em;
}
.tentang .unggulan .unggulan-desc .unggulan-item p {
  font-size: 0.93em;
}
.tentang .unggulan .unggulan-desc .unggulan-item .img {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.5em;
  margin-top: 1.5em;
}
.tentang .unggulan .unggulan-desc .unggulan-item .img img {
  width: 20%;
  height: auto;
  max-width: 4.6em;
  max-height: 4.6em;
}

.harga {
  position: relative;
  padding: 2em 1.5em;
  background-color: #F1F1F1;
}
.harga .harga-title {
  text-align: center;
  margin-bottom: 2em;
}
.harga .harga-title h3 {
  font-weight: 600;
  color: #373737;
  margin-bottom: 0.3em;
}
.harga .harga-title p {
  color: #373737;
  font-size: 0.93em;
}
.harga .paket-list {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.harga .paket-list .paket {
  flex: 1 1 0px;
  background-color: #fcf9f9;
  border-radius: 1em;
  position: relative;
  box-shadow: 0px 0px 5px 0px #373737;
}
.harga .paket-list .paket .paket-title {
  padding: 0.7em 0em;
  text-align: center;
  background-color: #021B79;
  color: #fcf9f9;
  border-radius: 1em 1em 0 0;
}
.harga .paket-list .paket .paket-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}
.harga .paket-list .paket .paket-main .paket-global {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.harga .paket-list .paket .paket-main .paket-global .paket-harga {
  position: relative;
  display: flex;
  gap: 0.3em;
  align-items: center;
}
.harga .paket-list .paket .paket-main .paket-global .paket-harga h3 {
  color: #021B79;
  font-size: 2em;
}
.harga .paket-list .paket .paket-main .paket-global p {
  color: #373737;
  font-size: 0.8em;
}
.harga .paket-list .paket .paket-main .upto {
  margin: 1em;
  position: relative;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.3em solid #021B79;
}
.harga .paket-list .paket .paket-main .upto p {
  color: #373737;
}
.harga .paket-list .paket .paket-main .upto h4 {
  color: #021B79;
  font-size: 2em;
}
.harga .paket-list .paket .paket-main .upto h6 {
  color: #373737;
  font-weight: 600;
  font-size: 0.8em;
}
.harga .paket-list .paket .paket-main .divider {
  margin: 1em 0;
  width: 90%;
  border-top: 0.15em solid #021B79;
}
.harga .paket-list .paket .paket-main .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
}
.harga .paket-list .paket .paket-main .desc li {
  color: #021B79;
  font-weight: 600;
}
.harga .paket-list .paket .paket-main .paket-pilih {
  width: 100%;
  display: flex;
  justify-content: center;
}
.harga .paket-list .paket .paket-main .paket-pilih button {
  margin-top: 1.5em;
  border: 0.2em solid #ff960f;
  background-color: #ff960f;
  padding: 0.7em 3em;
  border-radius: 2em;
  color: #fcf9f9;
  font-weight: 500;
  font-size: 1em;
}
.harga .paket-list .paket .paket-main .paket-pilih button:hover {
  background-color: transparent;
  border: 0.2em solid #ff960f;
  color: #ff960f;
  transition: ease-in-out 0.3s;
}
.harga .paket-list .paket .paket-main .paket-pilih button:active {
  box-shadow: 0px 0px 7px 0px #fcf9f9;
  transform: translateY(0.3em);
}

.hubungi {
  padding: 2em 1.5em;
  background-color: #021B79;
  color: #fcf9f9;
  text-align: center;
}
.hubungi h1 {
  font-weight: bold;
  font-size: 1.7em;
}
.hubungi h3 {
  margin: 0.3em 0 0.7em 0;
  font-weight: 500;
  font-size: 1em;
}
.hubungi h5 {
  font-weight: 500;
  font-size: 1.2em;
}
.hubungi .btn-bordered {
  padding: 0.5em 1.5em;
  background-color: transparent;
  border: 0.2em solid #fcf9f9;
  border-radius: 2em;
  color: #fcf9f9;
  font-weight: 700;
  font-size: 2em;
  margin-top: 0.5em;
}
.hubungi .btn-bordered:hover {
  border: 0.2em solid #ff960f;
  color: #ff960f;
  transition: ease-in-out 0.3s;
}
.hubungi .btn-bordered:active {
  border: 0.2em solid #ff960f;
  color: #ff960f;
  box-shadow: 0px 0px 7px 0px #fcf9f9;
  transform: translateY(0.3em);
}

footer .legal-wrap {
  padding: 1em 1.5em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
footer .legal-wrap .legal-disclaimer {
  text-align: center;
  flex-grow: 1;
}
footer .legal-wrap .legal-disclaimer button {
  margin: 0.7em 0;
  border: 0.2em solid #ff960f;
  background-color: #ff960f;
  padding: 0.7em 2em;
  border-radius: 2em;
  color: #fcf9f9;
  font-weight: 500;
  font-size: 1.2em;
}
footer .legal-wrap .legal-disclaimer button:hover {
  background-color: transparent;
  border: 0.2em solid #ff960f;
  color: #ff960f;
  transition: ease-in-out 0.3s;
}
footer .legal-wrap .legal-disclaimer button:active {
  box-shadow: 0px 0px 7px 0px #fcf9f9;
  transform: translateY(0.3em);
}
footer .legal-wrap img {
  width: 50%;
  height: 50%;
}
footer p {
  padding: 0 1.5em;
  font-size: 0.95em;
  color: #373737;
}
footer .footer {
  text-align: center;
  background-color: #F1F1F1;
  padding: 1em 0 1em 0;
  margin-top: 1.5em;
  color: #373737;
  font-size: 0.8em;
}

/*# sourceMappingURL=style.css.map */
